section {
  @include leader(2);
  @include trailer();
  clear: both;
}

#footer {
  margin-bottom: 0;
}

.member {
  @include leader();
  @include trailer();
  img {
    @include border-radius(50%);
    border: 1px solid transparent;
    max-width: 100%;
  }
}

@include breakpoint($screen-tablet) {
  #branding {
    text-align: left;
  }

  #site-logo {
    float: left;
    width: 120px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  #site-title {
    float: left;
    max-width: 60%;
  }

  #site-slogan {
    clear: both;
  }

  #navigation {
    float: right;
  }
}

.join-step {
  @include padding-leader();
  @include padding-trailer();
  @include breakpoint($screen-tablet) {
    border: 20px solid white;  
  }
}
