section {
  clear: both;
}

#join-steps, 
#details {
    margin: 0 rhythm(-1);
}

@include breakpoint($screen-tablet) {
  #branding {
    text-align: left;
  }

  #site-logo {
    float: left;
    width: 120px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  #site-title {
    float: left;
    max-width: 60%;
  }

  #site-slogan {
    clear: both;
  }

  #navigation {
    float: right;
  }

  #intro, 
  #join-steps, 
  #members   {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
  }

  #description {
    @include flex(3);
    margin-right: 1em;
  }

  #details {
    @include flex(2);
    margin-left: 0;
  }

  .join-step {
    @include flex(1);
  }
  
  .member {
    @include flex(1 1 25%);
  }
}

