@mixin button() {
  display: inline-block;
  padding: 0 0.5em;
  background: lighten($color-primary, 30);
  font-weight: bold;
  text-transform: uppercase;
}

@mixin invert() {
  background-color: $color-primary;
  color: #fff;
  a {
    color: #fff;
    font-weight: bold;
    border-bottom: 1px dotted #fff;
    &:hover {
      border-bottom: 1px solid #fff;
      text-decoration: none;
    }
  }
}

// Transformations
@mixin scale($ratio...) {
  -webkit-transform: scale($ratio);
  -ms-transform: scale($ratio); // IE9 only
  -o-transform: scale($ratio);
  transform: scale($ratio);
}
