@include establish-baseline();

html {
  font-family: $font-family-base;
}

h1, h2, h3, h4 {
  font-family: $font-family-heading;
  font-weight: bold;
}

h1 {
  @include adjust-font-size-to($font-size-h1);
}
h2 {
  @include adjust-font-size-to($font-size-h2);
}
h3 {
  @include adjust-font-size-to($font-size-h3);
}
h4 {
  @include adjust-font-size-to($font-size-h4);
}

p {
  @include trailer();
  @include leader();
  &:last-child {
    margin-bottom: 0;
  }
  &:first-child {
    margin-top: 0;
  }
}

strong {
  font-weight: bold;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: rhythm(1);
}

#branding, 
#site-slogan, 
#social, 
#footer, 
h4, 
.section-title, 
.member,
.project-item {
  text-align: center;
}

@include breakpoint($screen-tablet) {
  #details .section-title {
    text-align: left;
  }
}

#board, 
#join, 
#benefits, 
#projects {
  .section-title {
    @include trailer();
  }
}

.member {
  p {
    margin: 0;
  }
  .member-position {
    @include adjust-font-size-to($font-size-small);
  }
}

.button {
  @include button();
}

.join-step, 
#footer {
  @include invert();
}

.join-step {
  @include padding-leader();
  @include padding-trailer();
}
