$base-font-size: 18px;
$base-line-height: 28px;

$font-family-base: "Helvetica", Arial, sans-serif;
$font-family-heading: "Helvetica", Arial, sans-serif;

$font-size-base: $base-font-size;
$font-size-h1: 48px;
$font-size-h2: 38px;
$font-size-h3: 32px;
$font-size-h4: 24px;

$color-primary: #007dbf;

$screen-phone:           480px;
$screen-tablet:          768px;
$screen-desktop:        1024px;
$screen-desktop-large:  1280px;