#header {
  background-color: #d7d7d7;
  background: #d7d7d7 url(../images/header-bg.jpg) no-repeat fixed 50% 50%;
  .site-title {
    color: #fff;
  }
  .site-slogan {
    h2 {
      @include invert();
    }
  }
}

