html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

section {
  margin-top: 1.55556em;
  margin-bottom: 1.55556em;
  clear: both;
}

#footer {
  margin-bottom: 0;
}

.member {
  margin-top: 1.55556em;
  margin-bottom: 1.55556em;
}

@media (min-width: 768px) {
  #branding {
    text-align: left;
  }

  #site-logo {
    float: left;
    width: 120px;
  }
  #site-logo img {
    max-width: 100%;
    height: auto;
  }

  #site-title {
    float: left;
    max-width: 60%;
  }

  #site-slogan {
    clear: both;
  }

  #navigation {
    float: right;
  }
}
.join-step {
  padding-top: 1.55556em;
  padding-bottom: 1.55556em;
}
@media (min-width: 768px) {
  .join-step {
    border: 20px solid white;
  }
}

/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 768px) {
  .js .nav-collapse {
    position: relative;
  }

  .js .nav-collapse.closed {
    max-height: none;
  }

  .nav-toggle {
    display: none;
  }
}
html {
  font-size: 112.5%;
  line-height: 1.55556em;
}

html {
  font-family: "Helvetica", Arial, sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2.66667em;
  line-height: 1.16667em;
}

h2 {
  font-size: 2.11111em;
  line-height: 1.47368em;
}

h3 {
  font-size: 1.77778em;
  line-height: 1.75em;
}

h4 {
  font-size: 1.33333em;
  line-height: 1.16667em;
}

p {
  margin-bottom: 1.55556em;
  margin-top: 1.55556em;
}
p:last-child {
  margin-bottom: 0;
}
p:first-child {
  margin-top: 0;
}

strong {
  font-weight: bold;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.55556em;
}

#branding,
#site-slogan,
#social,
#footer,
h4,
.section-title,
.member,
.project-item {
  text-align: center;
}

@media (min-width: 768px) {
  #details .section-title {
    text-align: left;
  }
}
#board .section-title,
#join .section-title,
#benefits .section-title,
#projects .section-title {
  margin-bottom: 1.55556em;
}

.member p {
  margin: 0;
}

.button {
  display: inline-block;
  padding: 0 0.5em;
  background: #59c6ff;
  font-weight: bold;
  text-transform: uppercase;
}

.join-step,
#footer {
  background-color: #007dbf;
  color: #fff;
}

#footer {
  margin-top: 4.66667em;
  padding-top: 1.55556em;
  padding-bottom: 4.66667em;
}

.btn-mde {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #fff;
  color: #666;
  font-size: 18px;
  padding: 10px 15px;
}
.btn-mde:hover {
  background-color: #007dbf;
  color: #fff;
}

#header {
  background-color: #d7d7d7;
  background: #d7d7d7 url(../images/header-bg.jpg) no-repeat fixed 50% 50%;
  margin-top: 0;
}
#header .site-title {
  color: #fff;
}
#header .site-slogan h2 {
  background-color: #007dbf;
  color: #fff;
}

.navigation li a {
  color: #fff;
}

#projects .project-item img {
  margin: 0 auto 25px;
}

@media only screen and (min-width: 768px) {
  #header {
    padding-top: 32px;
    position: relative;
  }
  #header .decoration {
    background-color: #007dbf;
    height: 70px;
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 1;
  }
  #header .container {
    position: relative;
    z-index: 10;
  }
  #header .site-title {
    margin: 56px 0 0 40px;
  }
  #header .site-title h1 {
    font-size: 28px;
  }
  #header .site-slogan {
    padding: 180px 0 40px;
  }
  #header .site-slogan h2 {
    font-size: 44px;
    margin-bottom: 30px;
  }

  .social {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .social li {
    display: inline-block;
    margin-left: 5px;
  }
  .social i {
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
  }
  .social .mail i {
    background-image: url("../images/mail.svg");
  }
  .social .facebook i {
    background-image: url("../images/facebook.svg");
  }
  .social .twitter i {
    background-image: url("../images/twitter.svg");
  }

  #navbar {
    float: right;
    margin: 49px 0 0 40px;
  }
  #navbar li a {
    color: #fff;
    padding: 15px 12px;
  }
}
@media only screen and (max-width: 767px) {
  #site-logo {
    margin: 0 auto;
  }
  #site-logo,
  #site-logo img {
    max-width: 120px;
  }

  #branding {
    margin: 40px 0;
  }

  .navigation {
    text-align: center;
  }

  .navbar-header {
    background-color: #007dbf;
  }

  .navbar-toggle {
    border-color: #fff;
  }
  .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  #navbar {
    background-color: #fff;
  }
  #navbar ul {
    list-style: none;
    padding: 0;
  }
  #navbar a {
    color: #007dbf;
  }

  .navbar-brand {
    color: #fff;
    font-size: 18px;
  }
}
