/* line 5, ../vendor/bundle/ruby/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../vendor/bundle/ruby/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../vendor/bundle/ruby/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../vendor/bundle/ruby/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../vendor/bundle/ruby/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../vendor/bundle/ruby/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../vendor/bundle/ruby/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../vendor/bundle/ruby/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../vendor/bundle/ruby/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_layout.scss */
section {
  margin-top: 1.55556em;
  margin-bottom: 1.55556em;
  clear: both;
}

/* line 7, ../sass/_layout.scss */
#footer {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  /* line 12, ../sass/_layout.scss */
  #branding {
    text-align: left;
  }

  /* line 16, ../sass/_layout.scss */
  #site-logo {
    float: left;
    width: 120px;
  }
  /* line 20, ../sass/_layout.scss */
  #site-logo img {
    max-width: 100%;
    height: auto;
  }

  /* line 26, ../sass/_layout.scss */
  #site-title {
    float: left;
    max-width: 60%;
  }

  /* line 31, ../sass/_layout.scss */
  #site-slogan {
    clear: both;
  }

  /* line 35, ../sass/_layout.scss */
  #navigation {
    float: right;
  }
}
/*! responsive-nav.js 1.0.39 by @viljamis */
/* line 3, ../sass/_responsive-nav.scss */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

/* line 11, ../sass/_responsive-nav.scss */
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

/* line 20, ../sass/_responsive-nav.scss */
.nav-collapse.opened {
  max-height: 9999px;
}

/* line 24, ../sass/_responsive-nav.scss */
.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 768px) {
  /* line 35, ../sass/_responsive-nav.scss */
  .js .nav-collapse {
    position: relative;
  }

  /* line 38, ../sass/_responsive-nav.scss */
  .js .nav-collapse.closed {
    max-height: none;
  }

  /* line 41, ../sass/_responsive-nav.scss */
  .nav-toggle {
    display: none;
  }
}
/* line 106, ../vendor/bundle/ruby/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 112.5%;
  line-height: 1.55556em;
}

/* line 3, ../sass/_typography.scss */
html {
  font-family: "Helvetica", Arial, sans-serif;
}

/* line 7, ../sass/_typography.scss */
h1, h2, h3, h4 {
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
}

/* line 12, ../sass/_typography.scss */
h1 {
  font-size: 2.66667em;
  line-height: 1.16667em;
}

/* line 15, ../sass/_typography.scss */
h2 {
  font-size: 2.11111em;
  line-height: 1.47368em;
}

/* line 18, ../sass/_typography.scss */
h3 {
  font-size: 1.77778em;
  line-height: 1.75em;
}

/* line 21, ../sass/_typography.scss */
h4 {
  font-size: 1.33333em;
  line-height: 1.16667em;
}

/* line 25, ../sass/_typography.scss */
p {
  margin-bottom: 1.55556em;
  margin-top: 1.55556em;
}
/* line 28, ../sass/_typography.scss */
p:last-child {
  margin-bottom: 0;
}
/* line 31, ../sass/_typography.scss */
p:first-child {
  margin-top: 0;
}

/* line 36, ../sass/_typography.scss */
ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.55556em;
}

/* line 42, ../sass/_typography.scss */
#branding,
#site-slogan,
#social,
#footer,
h4,
.section-title,
.member,
.project-item {
  text-align: center;
}

@media (min-width: 768px) {
  /* line 54, ../sass/_typography.scss */
  #details .section-title {
    text-align: left;
  }
}
/* line 63, ../sass/_typography.scss */
#board .section-title,
#join .section-title,
#benefits .section-title,
#projects .section-title {
  margin-bottom: 1.55556em;
}

/* line 69, ../sass/_typography.scss */
.member p {
  margin: 0;
}

/* line 74, ../sass/_typography.scss */
.button {
  display: inline-block;
  padding: 0 0.5em;
  background: #59c6ff;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 78, ../sass/_typography.scss */
.join-step,
#footer {
  background-color: #007dbf;
  color: #fff;
}

/* line 1, ../sass/base/_form.scss */
.btn-mde {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #fff;
  color: #666;
  font-size: 18px;
  padding: 10px 15px;
}
/* line 9, ../sass/base/_form.scss */
.btn-mde:hover {
  background-color: #007dbf;
  color: #fff;
}

/* line 1, ../sass/base/_header.scss */
#header {
  background-color: #d7d7d7;
  background: #d7d7d7 url(../images/header-bg.jpg) no-repeat fixed 50% 50%;
}
/* line 4, ../sass/base/_header.scss */
#header .site-title {
  color: #fff;
}
/* line 8, ../sass/base/_header.scss */
#header .site-slogan h2 {
  background-color: #007dbf;
  color: #fff;
}

/* line 4, ../sass/base/_nav.scss */
.navigation li a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  /* line 2, ../sass/tablet_above/_header.scss */
  #header {
    padding-top: 32px;
    position: relative;
  }
  /* line 6, ../sass/tablet_above/_header.scss */
  #header .decoration {
    background-color: #007dbf;
    height: 70px;
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 1;
  }
  /* line 15, ../sass/tablet_above/_header.scss */
  #header .container {
    position: relative;
    z-index: 10;
  }
  /* line 20, ../sass/tablet_above/_header.scss */
  #header .site-title {
    margin: 56px 0 0 40px;
  }
  /* line 23, ../sass/tablet_above/_header.scss */
  #header .site-title h1 {
    font-size: 28px;
  }
  /* line 28, ../sass/tablet_above/_header.scss */
  #header .site-slogan {
    padding: 180px 0 40px;
  }
  /* line 31, ../sass/tablet_above/_header.scss */
  #header .site-slogan h2 {
    font-size: 44px;
    margin-bottom: 30px;
  }

  /* line 2, ../sass/tablet_above/_nav.scss */
  #navbar {
    float: right;
    margin: 49px 0 0 40px;
  }
  /* line 7, ../sass/tablet_above/_nav.scss */
  #navbar li a {
    color: #fff;
    padding: 15px 12px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 2, ../sass/tablet_below/_header.scss */
  #site-logo {
    margin: 0 auto;
  }
  /* line 5, ../sass/tablet_below/_header.scss */
  #site-logo,
  #site-logo img {
    max-width: 120px;
  }

  /* line 11, ../sass/tablet_below/_header.scss */
  #branding {
    margin: 40px 0;
  }

  /* line 2, ../sass/tablet_below/_nav.scss */
  .navigation {
    text-align: center;
  }

  /* line 6, ../sass/tablet_below/_nav.scss */
  .navbar-header {
    background-color: #007dbf;
  }

  /* line 10, ../sass/tablet_below/_nav.scss */
  .navbar-toggle {
    border-color: #fff;
  }
  /* line 13, ../sass/tablet_below/_nav.scss */
  .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  /* line 18, ../sass/tablet_below/_nav.scss */
  #navbar {
    background-color: #fff;
  }
  /* line 21, ../sass/tablet_below/_nav.scss */
  #navbar ul {
    list-style: none;
    padding: 0;
  }
  /* line 26, ../sass/tablet_below/_nav.scss */
  #navbar a {
    color: #007dbf;
  }

  /* line 31, ../sass/tablet_below/_nav.scss */
  .navbar-brand {
    color: #fff;
    font-size: 18px;
  }
}
